* {
	margin: 0;
	padding: 0;
}

body {
	background: #000000
}

.wrapper {
	display: block;
	width: 820px;
	background: url(../img/bg_body.jpg) center center no-repeat;
	margin: 0 auto;
	padding: 40px 60px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

p {
	color: #d4d4d4;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
 }

 a {
 	text-decoration: none;
 }
 
 /* HEADER */

 .header {
 	background: url(../img/palm.png) 142px 20px  no-repeat;
 	padding: 90px 0px 18px;
 }

.logo-slogan {
	float: left;
}

.contacts {
	float: right;
	padding-top: 12px;
	padding-right: 25px;
}

.contacts p {
	text-align: left;
	font-size: 10px;
}
.contacts p:first-child {
	font-size: 12px;
	line-height: 20px;
}

 /* CONTENT */

.content {
	padding: 0px 0 120px 0;
}

.row {
	line-height:0;
	font-size: 0;
	vertical-align: 0;
}

.row .img {
	display: inline-block;
	padding: 0 3px 50px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.row img {
	border: 3px solid #828684;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.row .img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	position: relative;
	z-index: 999; 
}

.img p {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
}