<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js23-24</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css" />
	<script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>

	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<h1 class="header">ToDo list</h1>
			<div class="control">
				<input type="text" class="control__item-value" placeholder="Add your task here...">
				<button class="control__item-add">Add</button>
			</div>
			<ul class="list"></ul>
		</div>
	</script>

	<script type="text/template" id="list-template">
		<% for (var i =0; i<data.length; i++) { %>
			<li class="list__item">
				<input disabled = "disabled" class="list__input" type="text" value="<%= data[i] %>">
				<span data-value="<%= data[i] %>" class="list__delete"><i class="fa fa-trash-o"></i></span>
				<span data-value="<%= data[i] %>" class="list__edit"><i class="fa fa-pencil"></i></span>
			</li>
		<%}; %>
	</script>

</body>
</html>