* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 1000px;
}

header {
    width: 100%;
    height: 16%;
    background: #f4f4f4;
    border-bottom: 4.5px groove #e1e1e1;
}

header div {
    float: left;
}

#custom-search-input{
    width: 36%;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 63%;
    left:-25%;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.logo-rozetka {
    width: 25%;
    height: 130%;
    position: relative;
    background-image: url(../img/rozetka.png);
    background-size: 100% 100%;
    margin-left: -5%;
}

.info {
    width: 18%;
    height: 50%;
    float: right;
    margin-top: -1.4%;
}

.info div{
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 2%;
    border-left: 1.5px solid #eaeaea;
    
}

.info img {
    width: 93%;
    height: 75%;
}

.info p {
    text-align: center;
    font-size: 90%;
    color: #499bcc;
}

.hello {
    width: 54%;
    float: right;
    margin-top: -4%;
    position: relative;
    left: 34%;
    font-size:11px;
}

.hello a {
    float: left;
}

.hello img {
    width: 2.3%;
    height: 2.3%;
    float: left;
}

.contact-number {
    width: 45%;
    font-size: 92%;
    margin-left: -8%;
}

.contact-number img {
    width:35px;
    height: 35x;
}

.contact-number ul{
    list-style: none;
    width: 200%;
    color: #3e7bac;
}

.contact-number ul li {
    float: left;
    margin-left: 1.3%;
}

.contact-number ul img {
    width: 20px;
    height: 20px;
    margin-top: -1%;
}

.content {
    width: 100%;
    height: 90%;
    display: inline-block;
    
}

.content div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

.menu-div {
    width: 30%;
    height: 100%;
    position: relative;
    left: 3%;
}

.menu-div button {
    width: 50%;
    height: 8%;
    font-size: 20px;
    position: relative;
    top: -3%;
    box-shadow: 1px 2px 15px 1px #4eba55;
}

.menu {
    display: inline-block;
    width: 70%;
    height: 70%;
	margin-top: -50%;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 15px 1px #999e99;
}

.menu ul {
	width: 100%;
    list-style: none;
    color: #499bcc;
    display: block;
}

.menu ul li {
    height: 50px;
    font-size: 15px;
	
}

.menu ul p {
    float: right;
    margin-right: 2%;
    font-size: 110%;
text-align: right;
	
}

.order {
    width: 60%;
    height: 100%;
    position: relative;
    float:right;
    top: -98%;
    right: 8%;
}

.order ul {
    width: 96%;
    height: 100%;
    list-style: none;
    text-align: center;
    color: #499bcc;

}

.order ul li {
    width: 30%;
    height: 30%;
/*    border: 1px solid black;*/
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}

.order ul img {
    width: 60%;
    height: 50%;
}

.order h4 {
	font-weight: bolder;
}

.order p {
    margin-bottom: -6px;	
}

.search{
	margin-top: -14%;
    width: 21%;
	position: relative;
	left: 3%;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 15px 1px #999e99;
	color: #499bcc;
}

.search label {
    text-align: center;
}

.search div {
	margin-top: 5%;
}

.search-price input {
	width: 90px;
	margin-left: 3px;
	margin-right: 3px;
}
#a7 img {
	width: 47%;
	height: 60%;
}

#a8 img {
	width: 40%;
	height: 60%;
}

#a7, #a8, #searchPhones, #a9, #a10, #a11, #a12, #a13, #a14, #a15 {
	display: none;
}
