*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffffa;
}

.main {
    width: 80%;
    height: 1800px;
    margin: auto;
}

h1 {
    text-align: center;
    position: relative;
    top: 10px;
    
}

.facts {
    width: 980px;
    margin: auto;
    position: relative;
    top: 50px;
}

.facts div{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 6px solid #7f5e35;
    float: left;
    margin-left: 30px;
    text-align: center;
    padding-top: 21px;
    font-weight: 700;
    
}

.text {
    width: 850px;
    margin: auto;
    position: relative;
    top: 100px;
    font-size: 17.5px;
    text-align: left
    
}

.photos {
    width: 980px;
    margin: auto;
}

.photos div {
    width: 31%;
    height: 200px;
    border: 5px solid #7f5e35;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    top: 120px;
}

.photos img {
    width: 275px;
    height: 175px;
    position: relative;
    top: 9px;
    left: 9px;
    margin: auto;
}

.type {
    width: 200px;
    text-align: center;
    position: relative;
    top: 150px;
    margin: auto;
}

.type img {
    width: 30px;
    height: 20px;
    position: relative;
    top: 25px;
    left: -50px;
}

.advantages {
    width: 100%;
    height: 250px;
    position: relative;
    top: 150px;
}

.advantages div {
    width: 30%;
    float: left;
    margin-left: 20px;
    font-size: 
    
}

.advantages img {
    width: 50px;
    height: 70px;
    float: left;
}

.advantages h4 {
    font-style: italic;
    text-align: center;
    
}

.advantages h1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.advantages p {
    margin-top: 15px;
}

.certificates {
    position: relative;
    top: 160px;
}

.certificates p {
    width: 550px;
    margin: auto;
    margin-top: 40px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.certificates img {
    width: 22%;
    height: 320px;
    float: left;
    margin-left: 40px;
    position: relative;
    left: 115px;
    top: 50px;
}

.type2 {
    top: 250px;
}