* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.wrapper {
 	width: 910px;
 	margin: 0 auto;
}

a {
	text-decoration: none;
}

a, span, p {
 	font-family: "Lucida Sans Unicode", Arial, sans-serif;
 }

/* HEADER */

header{ 
 	background-color: #fff;
 	margin: 0 auto;
 	padding: 18px 5px 10px;
 }

.phones {
	display: inline-block;
	vertical-align: bottom;
	padding-right: 15px;
}

.phones img {
	vertical-align: text-bottom;
}
.phones p {
	display: inline-block;
	font-family: Arial, sans-serif;
	color: #5e696d;
	font-size: 18px;
}
 
 /*login form*/

.enter {
 	display: inline-block;
 	padding: 0 9px;
 	margin: 0 12px 0 10px;
 	line-height: 24px;
 	border-radius: 6px;
 	background: rgba(31,102,133,1);
background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(90%, rgba(15,59,94,1)), color-stop(100%, rgba(13,54,90,1)));
background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
 }

.enter form {
	display: inline-block;
}

.enter i {
	color:white;
    position: relative;
    top: 2px;
}

.enter form input {
	max-width: 109px;
	font-size: 11px;
    line-height: 14px;
    padding-left: 3px;
}

.enter button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", Arial,sans-serif;
    font-size: 11px;
}

.enter .vhod {
    border-right: 1px solid #fff;
    line-height: 11px;
    text-align: left;
    padding: 0 5px 0 3px;
}

.enter .registration {
	display: inline-block;
	color: white;
	padding-left: 1px;
}

.enter .registration a {
	padding-right: 4px;
	font-size: 11px;
	color: white;
}

.enter .forget-password {
	display: inline-block;
}

.enter .forget-password a {
	color: #bfbfbf;
	font-size: 12px;
	padding-left: 9px;
}

.enter .forget-password a:hover {
	text-decoration: underline;
}
 
 .icons {
	display: inline-block;
	border: 1px solid #bfbfbf;
	border-radius: 12px;
	padding: 0 9px;
	line-height: 20px;
 }

 .icons a {
 	padding: 0 2px;
 }

/* SEARCH */

.search {
	margin-bottom: 12px;
	padding: 0 4px;
}

.search > div {
	position: relative;
	float: left;
	height: 112px;
	border: 1px solid #9c9c9d;
	border-radius: 19px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.search .search_title {
	position: absolute;
	top: 2px;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 12px;	
	color: #154467;
}

.search fieldset {
	float: left;
}

.search legend {
	position: absolute;
	top: 2px;
	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 0px;
	color: #154468;
}

.search fieldset:first-of-type legend {
	left: 20px;
}

.search fieldset:last-of-type legend {
	right: 20px;
}

.search button {
	position: absolute;
	right: 20px;
	line-height: 23px;
	bottom: 5px;
	border: none;
	text-decoration: underline;
	font-family: Arial, sans-serif;
	font-style: italic;
	font-size: 14px;
	background: transparent;
	color: #154467;
	cursor: pointer;
	outline: none;
}

.search dt,
.search dd {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.search dd:not([class="bottom_list"]):after {
	content: '';
	position: absolute;
	width: 18px;
	height: 17px;
	top: 0;
	right: -2px;
	background: url(../img/strilka.png) right no-repeat;
	z-index: -999;
}

.search select {
	font-size: 11px;
	font-family: 'Arial Regular', Arial, sans-serif;
	border: none;
	outline: none;
	color: #000;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.5);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.5);
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.search label {
	font: 10px/8px 'Lucida Sans Unicode', Arial, sans-serif;
}

.search label span {
	font: 9px/8px 'Lucida Sans Unicode', Arial, sans-serif;
	color: #77858b;
}

/* auto */

.auto {
	padding: 20px 15px 2px 17px;
	margin-right: 14px;
}

.auto .search_title  {
	left: 125px;
}
.auto label {
	font: 10px/8px Arial, sans-serif;
}

.auto label span {
	font: 9px/8px Arial, sans-serif;
	color: #77858b;
}

.auto fieldset {
	width: 176px;
	border: none;
}

.auto fieldset:first-child {
	margin-right: 29px;
}

.auto dl {
	line-height: 0;
	font-size: 0;
	padding: 2px 0;
}

.auto dt {
	width: 70px;
	padding-right: 6px;
}

.auto dd {
	margin-bottom: 3px;
}

.auto select {
	width: 100px;
}

.auto select[name='disc_auto_year'],
.auto select[name='wheels_auto_year'] {
	width: 57px;
}

/* wheels */

.wheels {
	width: 167px;
	padding: 17px 11px 6px 14px;
	margin-right: 9px;
}

.wheels .search_title {
	top: 1px;
	left: 8px;
}

.wheels fieldset {
	border: none;
}

.wheels dl {
	padding: 2px 0;
}

.wheels dt:not(:nth-of-type(2)) {
	width: 40px;
	text-align: right;
}

.wheels dt:nth-of-type(3) {
	text-align: right;
}

.wheels dt label {
	height: 17px;
}

.wheels dd:not([class="bottom_list"]):after {
    top: 2px;
}

.wheels dd:nth-of-type(3) select {
	width: 45px;
}

.wheels dd:nth-of-type(3) {
	margin-right: 59px;
}

.wheels select {
	width: 53px;
	height: 17px;
}

.wheels .bottom_list {
	line-height: 0;
	font-size: 0;
}

.wheels dt.bottom_list {
	vertical-align: top;
}

.wheels dd.bottom_list {
	width: 50px;
}

.wheels .bottom_list label {
	display: inline-block;
	vertical-align: top;
	line-height: 10px;
}

.wheels .bottom_list input[type="checkbox"] {
	margin: 0 3px 1px 0;
}

/* discs */

.disc {
	padding: 19px 6px 3px 16px;
}

.disc .search_title {
	top: 1px;
	left: 9px;
	letter-spacing: .5px;
}

.disc fieldset {
	border: none;
}

.disc fieldset:first-of-type {
	width: 160px;
}

.disc fieldset:last-of-type {
	position: relative;
	top: -15px;
	width: 72px;
	padding-left: 11px;
	border-left: 1px solid #bdc6ca;
}

.disc dl {
	font-size: 0;
	line-height: 0;
	padding: 3px 0;
}

.disc dt {
	width: 92px;
}

.disc select {
	width: 57px;
}

.disc select[name='number'] {
	width: 50px;
}

.disc fieldset:last-of-type dt {
	width: 62px;
}

.disc fieldset:last-of-type dt label span {
	font-size: 8px;
	display: block;
}

.disc fieldset:last-of-type dd {
	margin: 4px 0;
}

   /*main menu*/

.menu {
	text-align: right;
	border-radius: 6px;
	margin: 1px 0 12px 0;
	line-height: 33px;
	background: rgba(77,86,99,1);
background: -moz-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,86,99,1)), color-stop(4%, rgba(77,86,99,1)), color-stop(14%, rgba(45,50,54,1)), color-stop(100%, rgba(1,1,1,1)));
background: -webkit-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -o-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: -ms-linear-gradient(top, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
background: linear-gradient(to bottom, rgba(77,86,99,1) 0%, rgba(77,86,99,1) 4%, rgba(45,50,54,1) 14%, rgba(1,1,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#010101', GradientType=0 );
}

.menu ul, 
.menu .corb {
	display: inline-block;
	vertical-align: top;
}

.menu ul {
	line-height:0; 
	font-size:0; 
	vertical-align:0;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	border-radius: 16px;
	padding: 0 6px;
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	color: #b1bcc0;
	line-height: 24px;
}

.menu ul li:hover {
	background: rgba(31,102,133,1);
background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(90%, rgba(15,59,94,1)), color-stop(100%, rgba(13,54,90,1)));
background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);
background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(15,59,94,1) 90%, rgba(13,54,90,1) 100%);	
}

 .menu ul li a {
 	color: #b1bcc0;
 	padding: 0 8px;
 }

.menu ul li a:hover {
	color: #fff;
}

.menu .corb {
	padding: 0 0 0 40px;
}

.menu .corb img {
	vertical-align: text-bottom;
    padding-right: 5px;
}

.menu .corb a {
	color: #8a9296;
	font-size: 11px;
}

.menu .corb a span {
	color: #0d5a8f;
	font-size: 12px;
	padding-right: 14px;
}


/*CONTENT */

.wrapper aside,
.wrapper main {
	display: inline-block;
	vertical-align: top;
}

.logo a {
	display: inline-block;
}

/* aside */

.wrapper aside {
	width: 20%;
}

.catalog header, 
.brends header {
	background: url(../img/icon_doc.png) 2px 1px  no-repeat;
	border:1px solid #79878d;
	border-radius: 16px;
	font-size: 14px;
	color: #114165;
}

.catalog header h1, 
.brends header h1 {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-weight: normal;
	line-height: 26px;
	color: #114165;
}

aside .name h2 {
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #114165;
}

.catalog header {
	width: 85%;
	margin: 3px 0 13px;
	padding: 0 0 0 26px;
	line-height: 26px;
}

.catalog header h1 {
	font-size: 13px;
}

.catalog .name {
	background: url(../img/icon_round.png) 3px 1px no-repeat;
	width: 67%;
	padding-left: 28px;
	border: 1px solid #79878d;
	border-radius: 14px;
	text-transform: uppercase;
	line-height: 26px;
}

.catalog .sidebarMenu {
	padding: 0 0 2px 46px;
}

.catalog .sidebarMenu ul {
	margin-bottom: -7px
}

.catalog .sidebarMenu ul li a {
	color: #465961;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	line-height: 26px;
}

.catalog .sidebarMenu ul li a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #0c3256;
	font-style: italic;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

.brends header {
	width: 83%;
	margin: 1px 0 13px;
	padding: 0 0 0 31px;
	line-height: 24px;
}

.brends header h1 {
	font-size: 14px;
}

.brends .name {
	background: url(../img/icon_round.png) 5px 1px no-repeat;
    width: 63%;
    padding-left: 30px;
    border: 1px solid #79878d;
    border-radius: 14px;
    text-transform: uppercase;
    line-height: 27px;   
}

.brends form {
	padding-left: 14px;
}

.brends form label {
	padding-left: 9px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
	color: #465961;
}

.brends form .checkboxControl {
	margin: 3px 0 7px;
}

.brends form label input {
	margin-right: 13px;
}

.brends form button {
	background-color: #124569;
	padding: 5px 12px;
	margin: 9px 10px;
	border:none;
	border-radius: 15px;
	font-size: 12px;
	color:white;
	box-shadow: 2px 2px 4px gray;
	text-transform: uppercase;
}

/* main products*/

.wrapper main {
	width: 52%;
	margin: 0 7px 0 5px;
}

.products {
	padding: 15px 25px 4px 25px;
	background: rgba(228,231,232,1);
background: -moz-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
background: -webkit-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -o-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -ms-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#93a7b0', GradientType=0 );	
}

.products .row {
	padding-bottom: 24px;
}

.product {
	display: inline-block;
	width: 135px;
	text-align: center;
}

.product__name {
	line-height: 15px;
}

.product__name a {
	color:#206988;
	font-size: 15px;
	font-weight: 600;
}

.product__name p {
	color:#1f2528;
	font-size: 13px
}

.product__price {
	padding-top: 4px;
}

.product__price p {
	color:#114165;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.product__price span {
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.product__img {
	border-radius: 10px;
	border: 1px solid #cfd4d6;
	text-align: center;
	background-color: white;
	width: 100%;
}

.product__img img {
    vertical-align: middle;
    padding: 3px 0;
}

.product:nth-child(even) {
	padding: 0 29px;
}


/*logos*/

.logo {
	padding: 42px 0 14px;
	text-align: center;
}

.logo a {
	vertical-align: top;
	margin-right: 8px;
}


/* FOOTER */

footer {
	background-color: #213a4d;
	text-align: center;
}

footer ul {
	width: 100%;
	list-style: none;
	padding: 12px 0;
	line-height: 9px;
}

footer ul li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	border-right: 1px solid white;
}

footer ul li:last-child {
	border: none;
}

footer ul li a {
	color:#bec6c9;
	font-size: 12px;
}

footer ul li a:hover {
	color:#52abcb;
}

footer .copyright {
	padding: 0 0 46px 0;
	color: #7f4740;
	font-size: 11px;
	line-height: 19px;
}

/*TODO Filter*/
.filter {
	height: 148px;
}




