<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exam_final</title>
	<link rel="stylesheet" href="dist/css/style.min.css">
	<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script> -->
	<script type="text/javascript"src="dist/js/script.js"></script>

<!-- 	[if IE 9]>
 		<link href="dist/css/style.min.css" rel="stylesheet" type="text/css" />

 	<![endif] -->
	<!--[if IE 8]>
		<link href="dist/css/IE9.css" rel="stylesheet" type="text/css" />
	<![endif]-->

</head>
<body>
	<header class="header">
		<div class="header__inner">
			<section class="header__top">
				<div class="enter">
					<button class="enter__log-in"><a class="enter__link" href="#">Log in</a></button>
					<button class="enter__sign-up"><a class="enter__link" href="#">Sign up</a></button>
				</div>
				<h1 class="logo">
					<a class="logo__link" href="#">URLAUBSGLÜCK</a>
				</h1>
			</section>
			<section class="slogan">
				<h2 class="slogan__title">SHARE YOUR HILIDAY DREAMS</h2>
				<p class="slogan__text">And find the perfect partner to fullfill it</p>
				<button class="slogan__button"><a href="#" class="slogan__link">Find your holiday partner</a></button>
			</section>
		</div>
	</header>
	<section class="sliders">
		<h3 class="block-title">How Urlaubsglück works?</h3>
		<div class="jcarousel">
				<ul>
					<li class="slider__group step1">
							<div class="slider__info">
								<div class="slider__step">Step 1</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</div>
					</li>
					<li class="slider__group step2">
							<div class="slider__info">
								<div class="slider__step">Step 2</div>
								<h4 class="slider__title">Morbi velit risus</h4>
								<p class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</div>
					</li>
					<li class="slider__group step3">
							<div class="slider__info">
								<div class="slider__step">Step 3</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">
									Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
								</p>
							</div>
					</li>
				</ul>
				<a class="arrows__left jcarousel-control-prev"></a>
				<a class="arrows__right jcarousel-control-next"></a>
			</div>
			<div class="jcarousel">
				<ul>
					<li class="slider__group step2">
							<div class="slider__info">
								<div class="slider__step">Step 2</div>
								<h4 class="slider__title">Morbi velit risus</h4>
								<p class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</div>
					</li>
					<li class="slider__group step3">
							<div class="slider__info">
								<div class="slider__step">Step 3</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</div>
					</li>
					<li class="slider__group step1">
							<div class="slider__info">
								<div class="slider__step">Step 1</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</div>
					</li>
				</ul>
				<a class="arrows__left jcarousel-control-prev"></a>
				<a class="arrows__right jcarousel-control-next"></a>
			</div>
			<div class="jcarousel">
				<ul>
					<li class="slider__group step3">
							<div class="slider__info">
								<div class="slider__step">STEP 3</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</div>
					</li>
					<li class="slider__group step1">
							<div class="slider__info">
								<div class="slider__step">Step 1</div>
								<h4 class="slider__title">Sed leo enim, condimentum</h4>
								<p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
							</div>
					</li>
					<li class="slider__group step2">
							<div class="slider__info">
								<div class="slider__step">STEP 2</div>
								<h4 class="slider__title">Morbi velit risus</h4>
								<p class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
							</div>
					</li>
				</ul>
					<a class="arrows__left jcarousel-control-prev"></a>
					<a class="arrows__right jcarousel-control-next"></a>
			</div>
		</div>
	</section>
	<section class="partners">
		<h3 class="block-title">Meet a partner for your best holiday</h3>
		<div class="partners__group">
			<section class="partner">
				<div class="partner__foto">
					<a href="#"><img class="partner__img" src="src/img/partner1.png" alt="partner1"></a>
					<div class="partner__circle red">
						<div class="partner__icon tv"></div>
					</div>
				</div>
				<h4 class="partner__name">Bradley Hunter</h4>
				<p class="partner__info">Based in Chicago. I love playing tennis and loud music.</p>
			</section>
			<section class="partner">
				<div class="partner__foto">
					<a><img class="partner__img" src="src/img/partner2.png" alt="partner2"></a>
					<div class="partner__circle green">
						<div class="partner__icon cup"></div>
					</div>
				</div>
				<h4 class="partner__name">Lucas Marsha</h4>
				<p class="partner__info">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</section>
			<section class="partner">
				<div class="partner__foto">
					<a><img class="partner__img" src="src/img/partner3.png" alt="partner3"></a>
					<div class="partner__circle orange">
						<div class="partner__icon bulb"></div>
					</div>
				</div>
				<h4 class="partner__name">Heather Walker</h4>
				<p class="partner__info">I'm a happy person that loves cats and climbing on mountains.</p>
			</section>
			<section class="partner">
				<div class="partner__foto">
					<a><img class="partner__img" src="src/img/partner4.png" alt="partner4"></a>
					<div class="partner__circle blue">
						<div class="partner__icon plane"></div>
					</div>
				</div>
				<h4 class="partner__name">Bradley Hunter</h4>
				<p class="partner__info">Based in Chicago. I love playing tennis and loud music.</p>
			</section>
		</div>
		<button class="partners__button"><a class="partners__link" href="#">See other partners</a></button>
	</section>
	<section class="ideas">
		<h3 class="block-title">Discover holiday activity ideas</h3>
		<script type="text/html" id="piclist-template">
			<div class="grid">
				<% for (var i =0; i<images.length; i++) { %>
					<div class="grid__item 
					<% if ((i==5)||(i==4)){%> 
						grid__item--width2  
						<%}%> animated zoomIn" style = "background: url(<%=images[i].imageurl%>) center no-repeat; background-size: 100% 100%">
						<span class="grid__text"><a href="#"><%=images[i].word%></a></span>
					</div>
				<%}; %>
			</div>
		</script>
	</section>
	<section class="search">
		<h3 class="block-title">Discover holiday activity ideas</h3>
		<p class="search__question">Hi! What are your holiday interests?</p>
		<form action="#" class="search__form" id="f">
			<input type="text" class="search__input" placeholder="Enter your interests">
			<button type="submit" class="search__button"><a class="search__link">Search partners</a></button>
		</form>
	</section>
	<footer class="footer">
		<div class="footer__inner">
			<h2 class="footer__logo"><a href="#">URLAUBSGLÜCK</a></h2>
			<nav class="company">
				<h4 class="company__title"><a href="#">Company</a></h4>
				<ul class="company__list">
					<li class="company__item">
						<a class="company__link" href="#">About</a>
					</li>
					<li class="company__item">
						<a class="company__link" href="#">Contacts</a>
					</li>
					<li class="company__item">
						<a class="company__link" href="#">Press</a>
					</li>
					<li class="company__item">
						<a class="company__link" href="#">Blog</a>
					</li>
				</ul>
			</nav>
			<div class="footer-partners"><a href="#" class="footer-partners__link">Partners</a></div>
			<div class="copyright">
				<p class="copyright__text">DESIGNED BY</p>
				<a href="#"><img class="copyright__img" src="dist/img/designed_by.png"></a>
			</div>
		</div>
	</footer>
</body>
</html>