* {
	margin: 0;
	padding:0;
}

body {
	background: #f9f9f9;
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
}

.wrapper {
	background: #fff;
	width: 960px;
	margin: 0 auto;
	padding: 0 50px ;
	box-shadow: 0 0 2px #555;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

 /* HEADER */

.header {
	padding-top: 50px;
	padding-bottom: 40px;
}

h1 img {
	padding-bottom: 36px;
}

.menu {
	background-image: url(../img/bg_menu.jpg);
}

.menu ul {
	line-height:0;
	font-size: 0;
	vertical-align: 0;
}

.menu li {
	display: inline-block;
}

.menu li:hover {
	background-color: #424242;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.menu a {
	font-family: Tahoma, Arial, sans-serif;
	font-weight: normal;
	color: white;
	padding: 0 40px;
	line-height: 40px;
	font-size: 15px;
	text-decoration: none;
	text-shadow: 0 0 3px black;
}

/* CONTENT */

.sidebar {
	float: left;
	width: 240px;
}

.sidebar-menu {
	border: 1px solid #c8c8c8;
}

.sidebar-menu li {
	border-top: 1px solid #c8c8c8;
	list-style: none;	
}

.sidebar-menu li:first-child {
	border: none;	
}

.sidebar-menu a {
	display: block;
	padding-left: 20px;
	color: #656363;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 37px;
	text-decoration: none;
	transition: 0.2s all;
}

.sidebar-menu a:hover {
	background: #f9f9f9;
	padding-left: 35px;
}

.product {
	float: right;
	width: 680px;
}

.product-image {
	padding: 40px 0;
	border: 1px solid #c8c8c8;
	text-align: center;
}

.product p {
	padding: 30px 22px 0 22px;
	color: #2c2c2c;
	font-size: 14px;
	line-height: 21px;
}

/* FOOTER */

.footer {
	padding: 50px 0;
}

.footer-menu {
	background: #e1e1e1;
	padding-right: 26px;
}

.footer-menu li {
	float: left;
	list-style: none;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
}

.footer-menu a {
	display: block;
	padding: 0 50px;
	color: #2c2c2c;
	text-decoration: none;
}

.footer-menu a:hover {
	text-decoration: underline;
}
 
 .footer-menu p {
 	float: right;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
 }